<div class="card border-primary mb-3">
  <div class="card-header">Buy and Sell Tickets: Concerts, Sports, &amp; Theatre | Vivid Seats </div>
  <div class="card-body text-primary">
    <h5 class="card-title">Events</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['../', 'Events', 'form']">
        Add Event
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
             <th>Event Name</th>
              <th>Date</th>
              <th>Venue</th>
              <th>City</th>
              <th>State</th>
 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of Events">
          <td>{{ event.name }}</td>
          <td>{{ event.date }}</td>
          <td>{{ event.venue.name }}</td>
          <td>{{ event.venue.city }}</td>
          <td>{{ event.venue.state  }}</td>
           
        </tr>
      </tbody>
    </table>

  </div>
</div>
