   <div class="card bg-dark text-white">
          <div class="card-header"> <h4 class=" ">Add New Event</h4></div>
                  
                                            
                       
                      <div class="card-body">
                        <form name="addEventForm" method="post" action="/form">
                          <p>Event Information</p>
                          <div class="row">
                            
                            <div class="col-sm-6">
                            <input name="name" placeholder="Event Name" type="text" class="form-control" [(ngModel)]="Event.name" >
                            </div>
                           </div> 
                          <div class="row">
                            <div class="col-sm-6">
                            <input type="date" name="date" placeholder="Date" id="add-event-date" class="form-control" [(ngModel)]="Event.date" >
                            </div>

                            <div class="col-sm-4">
                            <input type="time" name="time" placeholder="Time" id="add-event-time" class="form-control" [(ngModel)]="Event.time" >
                          </div>
                        </div>
                        <p>Venue Information</p>
                          <div class="row">

                            
                            <div class="col-sm-6">
                            <input name="venueName" placeholder="Venue Name" type="text" class="form-control" [(ngModel)]="Venue.name" >
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                            <input name="venueCity" placeholder="Venue City" type="text" class="form-control" [(ngModel)]="Venue.city" >
                          </div>
                            <div class="col-sm-4">
                            <select name="venueState" size="1" type="text" class="form-control" [(ngModel)]="Venue.state"  >
                                  <option value="AK">AK</option>
                                  <option value="AL">AL</option>
                                  <option value="AR">AR</option>
                                  <option value="AZ">AZ</option>
                                  <option value="CA">CA</option>
                                  <option value="CO">CO</option>
                                  <option value="CT">CT</option>
                                  <option value="DC">DC</option>
                                  <option value="DE">DE</option>
                                  <option value="FL">FL</option>
                                  <option value="GA">GA</option>
                                  <option value="HI">HI</option>
                                  <option value="IA">IA</option>
                                  <option value="ID">ID</option>
                                  <option value="IL">IL</option>
                                  <option value="IN">IN</option>
                                  <option value="KS">KS</option>
                                  <option value="KY">KY</option>
                                  <option value="LA">LA</option>
                                  <option value="MA">MA</option>
                                  <option value="MD">MD</option>
                                  <option value="ME">ME</option>
                                  <option value="MI">MI</option>
                                  <option value="MN">MN</option>
                                  <option value="MO">MO</option>
                                  <option value="MS">MS</option>
                                  <option value="MT">MT</option>
                                  <option value="NC">NC</option>
                                  <option value="ND">ND</option>
                                  <option value="NE">NE</option>
                                  <option value="NH">NH</option>
                                  <option value="NJ">NJ</option>
                                  <option value="NM">NM</option>
                                  <option value="NV">NV</option>
                                  <option value="NY">NY</option>
                                  <option value="OH">OH</option>
                                  <option value="OK">OK</option>
                                  <option value="OR">OR</option>
                                  <option value="PA">PA</option>
                                  <option value="RI">RI</option>
                                  <option value="SC">SC</option>
                                  <option value="SD">SD</option>
                                  <option value="TN">TN</option>
                                  <option value="TX">TX</option>
                                  <option value="UT">UT</option>
                                  <option value="VA">VA</option>
                                  <option value="VT">VT</option>
                                  <option value="WA">WA</option>
                                  <option value="WI">WI</option>
                                  <option value="WV">WV</option>
                                  <option value="WY">WY</option>
                            </select>
                          </div>
                          </div>
                            <div class="modal-footer">
                                <button class="btn" type="button" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" role="button" (click)='create()' type="submit">Add Event</button>
                            </div>
                          
                        </form>
                      </div>
                    </div>
            

